body {
    background-color: #111111;
    /* background-color: #54565a; */
    color: white;
    font-family: Arial;
}

footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background: rgb(54, 54, 54);
}

  .fbutton {
    border: 2px solid #000000;
    /* background-color: #dddddd; */
    color: #000000;
    width: 100%;
    font-size:14px;
    padding:8px;
    user-select:none;
  }
  
  .fbutton:hover {
    border: 2px solid #000000;
    /* background-color: #ffffff; */
    color: #000000;
    filter: brightness(.85);
    width: 100%;
    font-size:14px;
    padding:8px;
  }

.fbutton:disabled,
.fbutton[disabled]{
  border: 2px solid #000000;
  /* background-color: #999999; */
  color: #000000;
  filter: brightness(.5);
  width: 100%;
  font-size:14px;
  padding:8px;
}

 /* Create two equal columns that floats next to each other */
.column {
    float: left;
    min-width: 30%;
    /* max-width: 60%; */
    padding: 10px;
    /* background: lightblue */
}

/* Clear floats after the columns */
.row {
    width: "100%";
}
.row:after {
    content: "";
    display: table;
    clear: both;
}